<div class="about">
  <span class="about-image" data-alt="Yep, that's me!">
    <%= image_tag 'me.jpg' %>
  </span>
</div>

# Hi, I'm Thibaut

I'm a software developer living in Ottawa, Canada.

I spent most of my career building the Online Store platform and website builder at [Shopify](https://www.shopify.com/), where I was a senior manager and principal developer.

## I love building web applications.

[DevDocs](/projects.html#devdocs) — API Documentation Browser

## I'm passionate about design and user experience.

[CSSFlow](/projects.html#cssflow) — CSS Code Snippets &amp; UI Kits

## I believe in being fair and responsible.

[Mission Statement](/mission.html) — My values and goals<br>
[Positive World](/positive-world.html) — My vision for a better world<br>
[Positive Business](/positive-business.html) — My vision for doing business

**Have a great day!**
